body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    margin: 0.5em 0; 
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 2;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500; 
    padding: 0.5em 1em;
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: #000000; 
    border-radius: 5px;
    color: #fff; 
}

main {
    display: flex;
    padding: 2em;
    gap: 2em;
    background-color: #fff;
    margin: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#content {
    flex: 3;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 15px;
}

aside {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1em;
    text-align: center;
    height: 400px;
    overflow-y: auto;
    margin-top: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

aside img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.slider {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-descriptions {
    flex: 1;
}

.description {
    display: none;
}

.description.active {
    display: block;
}

.slider-controls {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #9B3922;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: background-color 0.3s;
}


button#next {
    margin-left: 80px;
}

button:hover {
    background-color: #481E14;
}

#software-info {
    margin-top: 2em;
}

#software-info ol {
    padding-left: 20px;
}

#software-info li {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

#software-info li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

#contact {
    margin-top: 2em;
}

#contact ul {
    padding-left: 20px;
}

#contact ul li {
    margin-bottom: 0.5em;
}

#contact ul li a {
    color: #0059ff;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .slider-container {
        flex-direction: column;
    }

    .slider {
        margin-right: 0;
        margin-bottom: 1em;
    }
}